<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de Inicio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg" style="background-color: #0A0A23;">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'index' %}" style="color: #00FF41;">CyberSec</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'index' %}" style="color: #FFFFFF;">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'lista_posts' %}" style="color: #FFFFFF;">Artículos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contacto' %}" style="color: #FFFFFF;">Sobre Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'formulario' %}" style="color: #FFFFFF;">Formulario</a>
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit" style="border-color: #00FF41; color: #00FF41;">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <!-- A partir de aqui definimos el bloque variable -->
        {% block contenido %}
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer class="container-fluid mt-5 d-flex justify-content-center align-items-center" style="background-color: #0A0A23; color: #FFFFFF; height: 100px; position: relative; bottom: 0; width: 100%;">
      <div class="text-center">
          <p><a href="{% url 'index' %}" style="color: #00FF41;">Volver hacia arriba</a></p>
          <p>© 2024 - <a href="https://campus-informatorio.chaco.gob.ar/" style="color: #00FF41;">Informatorio</a></p>
      </div>
  </footer>
  
</body>
</html>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    </body>
    </html>