{% extends "base.html" %}
{% load static %}
{% block contenido %}
<section>
    <div class="container">

        {% if user.is_authenticated %}
                <a href="{% url 'apps.blog:crear_post' %}" class="btn btn-success btn-lg">Crear Nuevo Artículo</a>
            {% else %}
                <a href="{% url 'apps.blog_auth:registro' %}" class="btn btn-success btn-lg">Regístrate para crear un artículo</a>
        {% endif %}

        <h1>Artículos</h1>

        

        <!-- Mostrar todas las categorías -->
        <h3>Estas son las categorías:</h3>
        <div class="row" style="gap: 15px;"> <!--se supone mostrará uno al lado de otro, con un espacio de 15px-->
            <ul>
                {% for categoria in categorias %}
                    <li>
                        <a href="{% url 'apps.blog:categoria_posts' categoria.id %}">{{ categoria.nombre }}</a>
                    </li>   
                {% endfor %}
            </ul>
        </div>

        <!-- Mostrar los posts -->
        <h3>Posts en la categoría: {{ categoria.nombre }}</h3>
        <div class="row">
            {% for post in posts %}
                <div class="col-md-4">
                    <div class="post">
                        <h4><a href="{% url 'blog:postdetalle' post.id %}">{{ post.titulo }}</a></h4>
                        <p>{{ post.contenido|truncatewords:20 }}</p>
                        <p><small>Publicado el {{ post.fecha_publicacion }}</small></p>

                        {% if user.is_authenticated %}
                            {% if user in post.favoritos.all %}
                                <a href="{% url 'apps.blog:desmarcar_favorito' post.pk %}" class="btn btn-warning">Quitar de favoritos</a>
                            {% else %}
                                <a href="{% url 'apps.blog:marcar_favorito' post.pk %}" class="btn btn-primary">Agregar a favoritos</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            {% empty %}
                <p>No hay posts disponibles en esta categoría.</p>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
