{% extends "base.html" %} <!-- Indica que hereda de base.html -->
{% load static %}
{% block contenido %}

<section>
    <h1>{{post.titulo}}</h1>
    {% if post.fecha_publicacion %}
        <div>
            {{post.fecha_publicacion}}
        </div>
    {% else %}
        <a href="#">Publicar artículo</a>
    {% endif %}

    <p>
        {{post.contenido}}
    </p>
    <hr>
    <div class="container">
        {% for comentario in post.comentarios.all %}
            <p>{{comentario.texto}}</p>
            <p>Autor: {{comentario.autor}}</p>
        {% empty %}
        <p>No hay comentarios en este artículo</p>
        {% endfor %}
    </div>

</section>

{% endblock%}