{% extends "base.html" %}
{% load static %}
{% block contenido %}
    <section>
        {% if user.is_authenticated %}
            <a href="{% url 'apps.blog:crear_post' %}">Crear Nuevo Artículo</a>
        {% endif %}
        
        {% for post in posts %}
            <article>
                <h3><a href="{% url 'apps.blog:postdetalle' post.pk %}">{{ post.titulo }}</a></h3>
                <p>Fecha publicación: {{ post.fecha_publicacion }}</p>
                <p>Autor: {{ post.autor }}</p>
                <p>{{ post.resumen }}</p>
                
                {% if user.is_authenticated %}
                    {% if user.perfil.rol == 'colaborador' or user == post.autor %}
                        <a href="{% url 'blog:editar_post' post.pk %}" class="btn btn-warning">Editar</a>
                        <a href="{% url 'blog:eliminar_post' post.pk %}" class="btn btn-danger">Eliminar</a>
                    {% endif %}
                {% endif %}
            </article>
        {% empty %}
            <p>No hay artículos disponibles.</p>
        {% endfor %}
    </section>
{% endblock %}
