{% extends "base.html" %}
{% load static %}
{% block contenido %}
<section>
    <div class="container">
        <h1>{{ post.titulo }}</h1>
        <p>Publicado por: {{ post.autor }} el {{ post.fecha_publicacion }}</p>
        <div>
            {% if post.imagen %}
                <img src="{{ post.imagen.url }}" alt="{{ post.titulo }}" class="img-fluid">
            {% else %}
                <p>No hay imagen disponible para este post.</p>
            {% endif %}
        </div>
        <div>
            <p>{{ post.contenido }}</p>
        </div>

        <!-- Mostrar comentarios--> 
        <h3>Comentarios</h3>
        {% for comentario in comentarios %}
            <div class="comentario">
                <strong>{{ comentario.autor_comentario.username }}</strong> 
                <span>{{ comentario.fecha_creacion|timesince }}</span>
                <p>{{ comentario.cuerpo_comentario }}</p>

                {% if user.is_authenticated and user == comentario.autor_comentario %}
                    <form action="{% url 'apps.blog:eliminar_comentario' comentario.id %}" method="POST" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                    </form>
                {% endif %}

            </div>
        {% empty %}
            <p>No hay comentarios aún.</p>
        {% endfor %}

        <!-- Formulario para agregar un comentario -->
        {% if user.is_authenticated %}
            <h3>Agregar un comentario</h3>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Comentar</button>
            </form>
        {% else %}
            <p>Inicia sesión para comentar.</p>
        {% endif %}
    </div>
</section>
{% endblock %}
